{
  "swagger": "2.0",
  "info": {
    "description": "This is the API and the model definition for the FIWOO'S microservice of Density Maps.",
    "version": "1.0",
    "title": "Density Maps Microservice",
    "license": {
      "name": "Apache License Version 2.0"
    }
  },
  "host": "us2.fiwoo.eu:5000",
  "basePath": "/bi/density",
  "paths": {
    "/densityMap": {
      "post": {
        "tags": [
          "density-maps-controller"
        ],
        "summary": "getDensityMap",
        "operationId": "getDensityMapUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/ld+json",
          "application/json",
          "application/ngsi+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Authorization-s4c",
            "in": "header",
            "description": "X-Authorization-s4c",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/densityMap/reversed": {
      "post": {
        "tags": [
          "density-maps-controller"
        ],
        "summary": "getDensityMapReverse",
        "operationId": "getDensityMapReverseUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/ld+json",
          "application/json",
          "application/ngsi+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Authorization-s4c",
            "in": "header",
            "description": "X-Authorization-s4c",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/swagger": {
      "get": {
        "tags": [
          "density-maps-controller"
        ],
        "summary": "getSwagger",
        "operationId": "getSwaggerUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "ResponseEntity": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object"
        },
        "statusCode": {
          "type": "string",
          "enum": [
            "200",
            "400"
          ]
        },
        "statusCodeValue": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}
